<div class="container">
	<div class="col-md-3 col-sm-2 col-lg-4"></div>
	<div align="center">
		<div id="formDiv" class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
			style="width: 385px; height: 215px; margin-top: 100px; box-shadow: 4px 2px 8px #888888;">
			<form name="myform">
				<div class="form-group">
					<h3 align="center" style="color: #1b4ca2">Password Reset</h3>
				</div>
				<hr>
				<div class="form-group">
					<input type="email" ng-model="user.email" class="form-control"
						placeholder="Enter existing email here" name="email"
						ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,6}$/"
						required="required"
						style="border: none; background-color: aliceblue; margin-left: -10px; width: 65%;">
					<span style="color: red;"
						ng-show="myform.email.$error.pattern && myform.email.$touched">
						*Invalid email address.</span> <span
						style="color: red; margin-left: -15px;"> {{ valEmailError }}</span>
				</div>
				<div class="form-group">
					<button ng-disabled="myform.$invalid" style="color: blue;"
						ng-click="sendMail()">Reset Password</button>
				</div>
			</form>
		</div>
	</div>
	<div class="col-md-3 col-sm-2 col-lg-4"></div>
</div>
