/* Toggle Styles */
#wrapper {
	padding-left: 0;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

#wrapper.toggled {
	padding-left: 250px;
}

#sidebar-wrapper {
	position: fixed;
	left: 250px;
	z-index: 1000;
	overflow-y: auto;
	margin-left: -250px;
	width: 0;
	height: 100%;
	background: #ddd;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

#wrapper.toggled #sidebar-wrapper {
	width: 250px;
}

#page-content-wrapper {
	padding: 15px;
	width: 100%;
}

#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -250px;
}

/* Sidebar Styles */
.sidebar-nav {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	width: 250px;
	list-style: none;
}

.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
}

.sidebar-nav li a:hover {
	background: rgba(255, 255, 255, 0.2);
	color: #fff;
	text-decoration: none;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
	height: 65px;
	font-size: 18px;
	line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
	color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
	background: none;
	color: #fff;
}

#navbarcolor {
	background-color: #1f5584;
	border: none;
	height: 65px;
}

#header {
	padding: 12px;
	height: 40px;
	outline: none;
	border: none;
	font-size: medium;
	font-weight: bold;
}

#footer {
	height: 43px;
	outline: none;
	padding: 10px;
}

#content {
	min-height: 43px;
	max-height: inherit;
	outline: none;
	padding-left: 20px;
	padding-top: 15px;
	padding-right: 20px;
	word-break: break-all;
	font-size: 15px;
}

/* add placeholder on div */
[contenteditable=true]:empty:before {
	content: attr(data-placeholder)
}

#profile {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-top: 13px;
	margin-right: 15px;
	background-color: #3f7b67;
	border: 2px solid silver;
	font-size: 26px;
	padding-bottom: 24px;
	text-align: center;
}

#profile1 {
	height: 100px;
	width: 100px;
	border-radius: 58%;
	margin-top: 15px;
	background-color: #3f7b67;
	margin-left: 18px;
	border: 2px solid silver;
	font-size: 60px;
	text-align: center;
}

b {
	text-transform: uppercase;
	font-size: 16px;
}

#logoutbtn {
	float: right;
	margin-right: 21%;
	margin-top: 3%;
}

#profilefooter {
	height: 28%;
	width: 100%;
	background-color: #ccc;
	margin-top: 5%;
	border: 1px solid #ddd;
}

#divprofile {
	height: 186px;
	width: 300px;
	outline: none;
	margin-top: 7px;
	margin-right: 8px;
	border: 1px solid;
	border-color: #ccc;
}

#takenote {
	box-shadow: 4px 2px 8px #888888;
	width: 47%;
	background-color: transparent;
	margin-left: 330px;
	margin-top: 80px;
}

.grid {
	margin-top: 25px;
}

.list {
	margin-top: 25px;
}

#cardlistgridview {
	box-shadow: 4px 2px 8px #888888;
	background-color: transparent;
}

/* #getnotes {
	margin-top: 190px;
} */

#txtbtn {
	float: right;
	border: none;
	padding-right: 10px;
	background: none;
	outline: none;
	font-weight: 600;
}

#imgiconstyle {
	padding-left: 12px;
}

#imghover:hover #colordiv {
	display: block;
}

#modal-title {
	border: none;
	outline: none;
	font-size: medium;
	font-weight: 600;
	background: transparent !important;
}

#modal-body {
	border: none;
	outline: none;
	font-size: medium;
}

.modal-header{
border-bottom:none !important;
}

.modal-footer{
border-top:none !important;
}

.modal{
	top: 61px !important;
}

#searchicon {
	margin-top: 7px;
	float: left;
	border: none;
}

#profiledetails {
	float: right;
	margin-top: -110px;
	padding: 12%;
}

#colordiv {
	width: 125px;
	heigth: 100px;
	padding: 8px;
	position: absolute;
	background-color: white;
	display: none;
	margin-top: -58px;
	box-shadow: 4px 2px 8px #888888;
	height: 59px;
}

#colorstyle {
	padding-left: 3px;
	width: 24px;
}

#takeanoteheader {
	/* width: 100%; */
	padding: 12px;
	height: 40px;
	outline: none;
	border: none;
	font-size: medium;
	font-weight: bold;
}